*{font-family: "DIN Next W1G";
color : rbg(247, 240, 240);}

#window{
    background-color : "#56638A";
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

#input{
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: rgba(41, 46, 66, 0.5);
    color: white;
}

#text{padding: 5px;}

#outer-box{
    padding: 2px 10px 10px 10px;
}

#entry:selected{
    background-color : rgb(64, 61, 88);
    border-radius: 10px;
}
